
@{
    ViewBag.Title = "Categoria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2>Categoria</h2>

<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="index.html">Resumen</a></li>
    <li class="breadcrumb-item active">Categoria</li>
</ol>

<div class="card">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>Lista de Categorías
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-primary">Crear Categoría</button>
            </div>
        </div>
        <hr />
        <table id="tablaCategoria" class="display cell-boder" style=" width: 100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Descripción</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section scripts{
    <script>
        var tablaData;

        jQuery.ajax({
            url: '@Url.Action("ListaCategorias", "Categoria")',
            type: "GET",
            dataType: "json",
            contentType: "aplication/json; charset-utf8",
            success: function (data) {
                //debugger;
                console.log(data)
            }
        })

        tablaData = $("#tablaCategoria").DataTable({
            responsive: true,
            ordering: false,
            "ajax": {
                url: '@Url.Action("ListaCategorias", "Categoria")',
                type: "GET",
                dataType: "json",
            },
            "columns": [
                { "data": "IdCategoria" },
                { "data": "Descripcion" }
            ],
            "language": {
                url: "https://cdn.datatables.net/plug-ins/1.11.5/i18n/es-ES.json"
            },
            "buttons": [
                'copy',
                'print',
                'excel'
            ]
        });

    </script>

}



