
@{
    ViewBag.Title = "Almacen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2>Almacenes</h2>

<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="index.html">Resumen</a></li>
    <li class="breadcrumb-item active">Almacenes</li>
</ol>

<div class="card">
    <div class="card-header">
        <i class="fas fa-building me-1"></i>Lista de Almacenes
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-primary" onclick="abrirModal()">Crear Almacén</button>
            </div>
        </div>
        <hr />
        <table id="tablaAlmacen" class="display cell-boder" style=" width: 100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Descripción</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="FrmModalAlmacen" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">Almacén</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-1">
                    <label for="exampleFormControlInput1" class="form-label">Descripción</label>
                    <input type="text" class="form-control" id="txtDescripcion" placeholder="Escribir Descripción">
                </div>
            </div>
            <div class="modal-body">
                <label for="exampleFormControlInput1" class="form-label">Estado</label>
                <select id="cboActivo" class="form-select">
                    <option selected>Activo</option>
                    <option value="1">De Baja</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        var tablaData;

        jQuery.ajax({
            url: '@Url.Action("ListaAlmacenes", "Almacen")',
            type: "GET",
            dataType: "json",
            contentType: "aplication/json; charset-utf8",
            success: function (data) {
                //debugger;
                console.log(data)
            }
        })

        tablaData = $("#tablaAlmacen").DataTable({
            responsive: true,
            ordering: false,
            "ajax": {
                url: '@Url.Action("ListaAlmacenes", "Almacen")',
                type: "GET",
                dataType: "json",
            },
            "columns": [
                { "data": "IdAlmacen" },
                { "data": "Descripcion" },
                {
                    "data": "Activo", "render": function (valor) {
                        if (valor) {
                            return '<span class="badge bg-success">Activo</span>'
                        } else {
                            return '<span class="badge bg-danger">De Baja</span>'
                        }
                    }
                },
                {
                    "defaultContent": '<button type="button" class="btn btn-primary btn-editar"><i class="fas fa-pen me-1"></i></button>' +
                        '<button type="button" class="btn btn-danger ms-2"><i class="fas fa-trash me-1"></i></button>',
                    "orderable": false,
                    "searchable": false,
                    "width":"90px"

                }
            ],
            "language": {
                url: "https://cdn.datatables.net/plug-ins/1.11.5/i18n/es-ES.json"
            },
            "buttons": [
                'copy',
                'print',
                'excel'
            ]
        });

        function abrirModal() {

            $("#FrmModalAlmacen").modal("show");

        }

        $("#tablaAlmacen tbody").on("click", '.btn-editar', function () {

            var filaSeleccionada = $(this).closest("tr");
            var data = tablaData.row(filaSeleccionada).data();

            console.log(data);

        })

    </script>

}

